<header class="header">
    <!-- Two banner images - one for desktop, one for mobile -->
    <img src="{{ site.baseurl }}/assets/images/textbannerraw1.png" alt="Grimms Detective Agency" class="header-desktop">
    <img src="{{ site.baseurl }}/assets/images/mobile_banner1.png" alt="Grimms Detective Agency" class="header-mobile">
    <script type="text/javascript" src="//cdn.livetrafficfeed.com/static/3d-maps/live.v2.js?o=000080&amp;l=339966&amp;b=008000&amp;c=ff0000&amp;n=e61c1c&amp;root=0&amp;s=200"></script><noscript><a href="https://livetrafficfeed.com/3d-visitor-maps">Free 3D Visitor Maps</a></noscript>
</header>
