<aside class="sidebar">
    <div class="sidebar-buttons">
        <a href="{{ site.baseurl }}/index.html" class="sidebar-button button-frontdesk">
            <span class="button-text">FRONT DESK</span>
        </a>
        <a href="{{ site.baseurl }}/casefiles.html" class="sidebar-button button-casefiles">
            <span class="button-text">CASE FILES</span>
        </a>
        <a href="{{ site.baseurl }}/archives.html" class="sidebar-button button-archives">
            <span class="button-text">ARCHIVES</span>
        </a>
        <a href="{{ site.baseurl }}/about.html" class="sidebar-button button-aboutus">
            <span class="button-text">ABOUT US</span>
        </a>
        <a href="{{ site.baseurl }}/inquiries.html" class="sidebar-button button-inquiries">
            <span class="button-text">INQUIRIES</span>
        </a>
    </div>
</aside>
