<aside class="right-sidebar">
    <div class="sidebar-square"> 
        <a href="/book-page.html" target="_blank">
            <img src="{{ site.baseurl }}/assets/images/sq/news672.png" alt="News & Updates" class="sidebar-square-image">
        </a>
    </div>

    <div class="sidebar-square"> 
        <a href="https://www.amazon.com/Agency-Grimm-10541-Snooze-Button/dp/B0H8B4CKYR/" target="_blank">
            <img src="{{ site.baseurl }}/assets/images/sq/sq_book3.png" alt="Book 1" class="sidebar-square-image">
        </a>
    </div>
    
    <!-- First random promo image (placeholder) -->
    <div class="sidebar-square">
        <a href="/archives/fashion.html" id="random-promo-link-1">
            <img src="{{ site.baseurl }}/assets/images/sq/sq_c_face2.png" alt="Promo Image 1" class="sidebar-square-image" id="random-promo-img-1">
        </a>
    </div>
    
    <!-- Second random promo image (placeholder) -->
    <div class="sidebar-square">
        <a href="#" id="random-promo-link-2">
            <img src="{{ site.baseurl }}/assets/images/sq/sq_c_metropolis3.png" alt="Promo Image 2" class="sidebar-square-image" id="random-promo-img-2">
        </a>
    </div>
    
    <!-- Hidden input to pass site.baseurl to JavaScript -->
    <input type="hidden" id="site-baseurl" value="{{ site.baseurl }}">
</aside>
