<aside class="right-sidebar">
    <div class="sidebar-square"> 
        <a href="https://open.spotify.com/user/31kpt2jtkqnzkbly5jnmrbfzwuyu?si=97f003dbaa1b4417" target="_blank">
            <img src="{{ site.baseurl }}/assets/images/sq_radio1b.png" alt="Radio Grimm Link" class="sidebar-square-image">
        </a>
    </div>
    
    <!-- First random promo image (placeholder) -->
    <div class="sidebar-square">
        <a href="#" id="random-promo-link-1">
            <img src="{{ site.baseurl }}/assets/images/sq/sq_c_face2.png" alt="Promo Image 1" class="sidebar-square-image" id="random-promo-img-1">
        </a>
    </div>
    
    <!-- Second random promo image (placeholder) -->
    <div class="sidebar-square">
        <a href="#" id="random-promo-link-2">
            <img src="{{ site.baseurl }}/assets/images/sq/sq_c_metropolis.png" alt="Promo Image 2" class="sidebar-square-image" id="random-promo-img-2">
        </a>
    </div>
    
    <!-- Hidden input to pass site.baseurl to JavaScript -->
    <input type="hidden" id="site-baseurl" value="{{ site.baseurl }}">
</aside>
