<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title | strip_html }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
    
    {% include mobile-menu.html %}
    
    <div class="header-scaling-container">
        {% include header.html %}
    </div>

    <div class="page-scaling-container">
        {% include sidebar-left.html %}
    </div>

    <div class="content-container">
        <main class="main-content">
            <div class="text-box">
                {{ content }}
            </div>
        </main>
        {% include sidebar-right.html %}
    </div>

    {% include footer.html %}
            
    <script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
    <script src="{{ site.baseurl }}/assets/js/random-promos.js"></script>
    <script src="{{ site.baseurl }}/assets/js/shield-spin.js"></script>
</body>
</html>
